

/* body is contained in the App.js  */

body{
  background:gray;
}



p {
  text-align: center;
}

/* class Header from Header.js */
.header{
  display:flex;
  height: 50px;
  background-color: black;
  color: #b0b0b0;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 0.5rem outset khaki;
  position: fixed;
  width: 100%;
  top: 0;
}

/* class footer-bottom from Footer.js */
.footer-bottom {
  display:flex;
  padding: 15px 0;
  border-top: 1px solid #313646;
  background-color: black;
  color: #b0b0b0;
  font-family: rubik;
  border: 0.5rem outset khaki;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
/* class copyrighttitle from Footer.js */
.copyrighttitle {
  color: #b0b0b0;
  text-align: center;
  font-size: 20px;

}

/* class copyright a from Footer.js */
.copyright a {
  color: burlywood;
  margin-left: 10px;        
}

/* class copyright  from Footer.js */
.copyright  {
  color: #99a9b5;
  margin-left: 65px;
}  

/* class footer-menu li from Footer.js */
#footer-menu li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  line-height: 1;
  
}

/* class menu1 from Footer.js */
.menu1{
  color:#99a9b5;
  text-decoration: none;
}

/* class socials from Footer.js */
.socials{
  height: 60px;
  display:flex;
  align-items: center;
}

/* class imgF from Footer.js */
.imgF{
  height:50px;
  padding-left: 5px;
}



.apptitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: black;
  position: fixed;
  width: 100%;
  top: 55px;
  background-color: gray;
  min-height: 75px;
  align-items: center;
}

class app-nav from App.js
.app {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  color: red;
  position: fixed;
  width: 100%;
  top: 55px;
  background-color: gray;
  min-height: 75px;
  align-items: center;
}

/* Class img1 from App.js - Book Club Photo */
.img1{
  max-width:50%;
  /* text-align: right; */
  display:flex;
  flex-wrap: wrap;
  margin:auto;
  margin-left: 400px;
  border: 0.5rem outset pink;
  /* outline: 0.5rem solid khaki;
  box-shadow: 0 0 0 2rem skyblue; */
  border-radius: 12px;
  font: bold 1rem sans-serif;
  /* margin: 2rem; */
  padding: 1rem;
  outline-offset: 0.5rem;
  margin-bottom: 4px;
  
}















