/* header, section, nav, article, aside, main, footer { display: block; } */

 nav li {
  display: inline;
  margin-right: 40px;
}
 nav li a {
  color: black;} 

nav li a.current {
  color: red;

}
  
  .current{
    clear: both;
    color: #ffffff;
    background-color: burlywood;
    height: 30px;} 


/* body is contained in the App.js  */

body{
  background:gray;
}



p {
  text-align: center;
}

/* class Header from Header.js */
.header{
  display:flex;
  height: 50px;
  background-color: black;
  color: #b0b0b0;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 0.5rem outset khaki;
  position: fixed;
  width: 100%;
  top: 0;
}

/* class footer-bottom from Footer.js */
.footer-bottom {
  display:flex;
  padding: 15px 0;
  border-top: 1px solid #313646;
  background-color: black;
  color: #b0b0b0;
  font-family: rubik;
  border: 0.5rem outset khaki;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
/* class copyrighttitle from Footer.js */
.copyrighttitle {
  color: #b0b0b0;
  text-align: center;
  font-size: 20px;

}

/* class copyright a from Footer.js */
.copyright a {
  color: burlywood;
  margin-left: 10px;        
}

/* class copyright  from Footer.js */
.copyright  {
  color: #99a9b5;
  margin-left: 65px;
}  

/* class footer-menu li from Footer.js */
#footer-menu li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  line-height: 1;
  
}

/* class menu1 from Footer.js */
.menu1{
  color:#99a9b5;
  text-decoration: none;
}

/* class socials from Footer.js */
.socials{
  height: 60px;
  display:flex;
  align-items: center;
}

/* class imgF from Footer.js */
.imgF{
  height:50px;
  padding-left: 5px;
}



.apptitle {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: black;
  position: fixed;
  width: 100%;
  top: 55px;
  background-color: gray;
  min-height: 75px;
  align-items: center;
}

class app-nav from App.js
.app {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 200px;
  color: red;
  position: fixed;
  width: 100%;
  top: 55px;
  background-color: gray;
  min-height: 75px;
  align-items: center;
}

/* Class img1 from App.js - Book Club Photo */
.img1{
  display:block;
  margin: 0 auto;
  
  
}














