
/* h1 applies to app.js and home.js  */
h1 {
    font-size: 40px;
    color: burlywood;
    text-align: center;
}

p {
    font-size: 20px;
    color: burlywood
   
}

.homeImg{
    max-width:70%;
    text-align: right;
    display:flex;
    flex-wrap: wrap;
   
}

.img1{
    display:block;
    margin: 0 auto;
    margin-left: 45%;
    height: 350px;
    width: 350px;
    border: 0.5rem outset burlywood;
    
} 